<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
  <div class="mx-auto max-w-screen-lg px-4 2xl:px-0">
    <h2
      class="shrink-0 text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
    >
      Work experience:
    </h2>
    <div class="mt-6 flow-root">
      <div class="-my-6 divide-y divide-gray-200 dark:divide-gray-800">
        <!-- TCS -->
        <div class="space-y-4 py-6 md:py-8">
          <div class="grid gap-4">
            <a
              href="#"
              class="text-xl font-semibold text-gray-900 hover:underline dark:text-white"
              >Senior FullStack Developer · Tata Consultancy Services · (Feb
              2023 - Jul 2024)
            </a>
          </div>

          <ul class="list-disc pl-6">
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Implementation of functionalities to the electronic billing system
              for Avianca Airlines
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Migrated legacy systems to .NET Core &amp; Angular
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Developed and maintained REST APIs and web apps
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Implementation and integration of Azure Functions into the core
              solution
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Collaborated with cross-functional teams and participate in Scrum
              ceremonies
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Maintaining stored procedures and functions (in SQL Server)
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Use Azure DevOps for PBIs management (requirements, documentation,
              deploy CI/CD, etc.)
            </li>
          </ul>

          <!-- <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
            Answered 1 day ago by
            <a href="#" class="text-gray-900 hover:underline dark:text-white"
              >Bonnie Green</a
            >
          </p> -->

          <div>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              .NET Core
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              Angular
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              Azure Functions
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              SQL Server
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              REST APIs
            </span>
          </div>
        </div>

        <!-- SoulSystem -->
        <div class="space-y-4 py-6 md:py-8">
          <div class="grid gap-4">
            <a
              href="#"
              class="text-xl font-semibold text-gray-900 hover:underline dark:text-white"
              >Full Stack Developer · SoulSystem SAS · (Feb 2020 - Feb 2023)
            </a>
          </div>

          <ul class="list-disc pl-6">
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Designed and developed applications for pharmaceutical and
              microbiological laboratories
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Managed full development lifecycle from requirements gathering to
              production deployment
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Bug fixes and implementation of improvements
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Automated laboratory processes, reducing manual errors
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Integrated third-party systems (ERP, CRM) through custom APIs
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Training new developers in technical and business functionalities
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Code reviews, requirement analysis, validation of requirements
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              AWS (S3, E2C, Lambda, deployments)
            </li>
          </ul>

          <div>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              Laravel
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              Angular
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              AWS
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              MySQL
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              REST APIs
            </span>
          </div>
        </div>

        <!-- NovoClick -->
        <div class="space-y-4 py-6 md:py-8">
          <div class="grid gap-4">
            <a
              href="#"
              class="text-xl font-semibold text-gray-900 hover:underline dark:text-white"
              >Web Developer · Novoclick · (Sep 2019 – Feb 2020)
            </a>
          </div>

          <ul class="list-disc pl-6">
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Maintaining monolithic (MVC) applications and lead management
              dashboards.
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Web developer and systems administrator focused on lead management
              and high-impact marketing campaigns through social media.
            </li>
            <li class="text-base font-normal text-gray-500 dark:text-gray-400">
              Integration of landing pages and tools like Zapier, mass emails
              senders and WordPress pages.
            </li>
          </ul>

          <!-- <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
            Answered 1 day ago by
            <a href="#" class="text-gray-900 hover:underline dark:text-white"
              >Bonnie Green</a
            >
          </p> -->

          <div>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              PHP
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              .NET Framework
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              WordPress
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              MySQL
            </span>
            <span
              class="inline-block rounded bg-green-100 px-2.5 py-0.5 text-xs font-medium text-green-800 dark:bg-green-900 dark:text-green-300 md:mb-0"
            >
              REST APIs
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-center lg:justify-start">
      <button
        type="button"
        class="w-full rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 sm:w-auto"
      >
        View all experiences
      </button>
    </div>
  </div>
</section>
