<div class="component-container">
    <h3 class="terminal-prompt">root@jsebastiandev:~$
        <span style="color: var(--primary-color)">
            About Me...
        </span>
    </h3>
    <blockquote>
        <p>
            I'm Sebastián, and I've been professionally involved in the fullstack development world for over 6 years.
            I've worked with a variety of technologies, cloud services, and business models.
            I'm a deeply analytical and observant person—I like to understand the how and why behind everything.
            I believe real value lies in attention to detail and finding the logic behind each challenge.
        </p>
    </blockquote>
</div>