<div class="container">
    <div class="terminal-nav">
        <header class="terminal-logo">
            <div class="logo terminal-prompt"><a href="/" class="no-style">root@JSebastianDev</a></div>
        </header>
        <nav class="terminal-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
                <li><a href="/" class="menu-item"><span>Light</span></a>
                    <meta property="position">
                </li>
                <li><a href="/dark" class="menu-item"><span>Dark</span></a>
                    <meta property="position">
            </ul>
        </nav>
    </div>
</div>