<div class="component-container">
    <h3 class="terminal-prompt">root@jsebastiandev:~$
        <span style="color: var(--primary-color)">
            Some of my projects...
        </span>
    </h3>



    <section>
        <div class="terminal-card">
            <header>Electronic Components Inventory</header>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quas
                    ex vero enim in doloribus officiis ullam vel nam esse sapiente velit
                    incidunt. Eaque quod et, aut maiores excepturi sint.
                </p>
                <!-- <figure>
                    <img src="https://picsum.photos/1000/600?random&imageWithCaption" alt="Image with caption"
                        title="Image with caption" />
                    <figcaption>Build with: HTML, CSS, JavaScript</figcaption>
                </figure> -->

                <div class="button-group">
                    <button class="btn btn-primary">Details...</button>
                    <button class="btn btn-secondary"> GitHub</button>
                </div>
            </div>
        </div>
    </section>

    <br>

    <section>
        <div class="terminal-card">
            <header>FinanzApp Project </header>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quas
                    ex vero enim in doloribus officiis ullam vel nam esse sapiente velit
                    incidunt. Eaque quod et, aut maiores excepturi sint.
                </p>
                <!-- <figure>
                    <img src="https://picsum.photos/1000/600?random&imageWithCaption" alt="Image with caption"
                        title="Image with caption" />
                    <figcaption>Build with: HTML, CSS, JavaScript</figcaption>
                </figure> -->

                <div class="button-group">
                    <button class="btn btn-primary">Details...</button>
                    <button class="btn btn-secondary"> GitHub</button>
                </div>
            </div>
        </div>
    </section>

    <br>

    <section>
        <div class="terminal-card">
            <header>Structured Daily Workflow
            </header>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, quas
                    ex vero enim in doloribus officiis ullam vel nam esse sapiente velit
                    incidunt. Eaque quod et, aut maiores excepturi sint.
                </p>
                <!-- <figure>
                    <img src="https://picsum.photos/1000/600?random&imageWithCaption" alt="Image with caption"
                        title="Image with caption" />
                    <figcaption>Build with: HTML, CSS, JavaScript</figcaption>
                </figure> -->

                <div class="button-group">
                    <button class="btn btn-primary">Details...</button>
                    <button class="btn btn-secondary"> GitHub</button>
                </div>
            </div>
        </div>
    </section>

    <br>
</div>