<section>
    <header>
        <h3 class="terminal-prompt">root@jsebastiandev:~$
            <span style="color: var(--primary-color)">Technologies I've worked with...</span>
        </h3>
    </header>
    <div class="terminal-alert">
        <span style="color: var(--primary-color)">Languages:</span> C#, TypeScript, Python, PHP,
    </div>
    <div class="terminal-alert">
        <span style="color: var(--primary-color)">Frameworks:</span> .NET, Angular, Laravel, FastAPI,
    </div>
    <div class="terminal-alert">
        <span style="color: var(--primary-color)">Databases:</span> MS SQL Server, MySQL, PostgreSQL, MongoDB,
    </div>
    <div class="terminal-alert">
        <span style="color: var(--primary-color)">Platforms:</span> Azure, AWS, Firebase, DigitalOcean
    </div>
    <div class="terminal-alert">
        <span style="color: var(--primary-color)">Tools:</span> Git, Figma, Power BI,
    </div>
</section>