@import "terminal.css";


/* Custom styles */
:root {
    --background-color: #0e0d0d;
    --font-color: #e2e2e2;
    --primary-color: rgb(206, 25, 223);

}

body #ascii-art-container {
    font-family: monospace;
    white-space: pre;
    color: var(--font-color);
}

.component-container {
    margin: 2em 0;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
}